{% extends "base.html" %}

{% block content %}
<article class="content-section" style="margin-left: 20px;margin-right: 20px;">
    <h1>About our community</h1>
    <br>
    <p>This is a blog to share any idea of any kind without shame. You can be simplistic or sophisticated, in all cases you are welcome.
       Be respecfull of the other members of the community. 
    </p>
    <br>
    <h3>Some stats about our community:</h3>
    There are {{ registered_users_count() }}  registered users so far.
    <br>
    There are {{ online_users_count() }} users online right now.
    <ul>
        {% for username in get_online_user_list() %}
            <li>{{username}}</li>
        {% endfor %}
    </ul>
</article>
{% endblock %}