{% extends "base.html" %}

{% block content %}
    {% for Post in Posts.query.all() %}
    <br>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="/blog?userid={{Post.user_id}}">{{Post.user.name}}</a>
                <small class="text-muted" style="margin-left:5em">{{Post.date}}</small>
            </div>
            <h2><a class="article-title" href="/blog?titleid={{Post.thread_id}}">{{Post.thread.title}}</a></h2>
            <p class="article-content">{{Post.text[:255]}}<a href="/blog?rmpostid={{Post.id}}">...<button>read more</button></a></p>
            <div class="article-bottomdata">
                <small class="text-muted"><i>{{Post.repplies_count()}} repplies</i></small>    
                <a class="mr-2" href="/blog?repplyto={{Post.id}}" style="margin-left:5em">Repply</a>
            </div>
        </div>
    </article>
    <br>
    {% endfor %}
{% endblock %}